{erl_opts, [debug_info]}.
{deps, [jiffy]}.

{shell, [
    %{config, "config/sys.config"},
    {apps, [ph]}
]}.

{eunit_opts, [
    {dir, "src"},
    verbose
]}.

{ct_opts, [
    %{sys_config, "erl.config"},
    {dir, "test/ct/src"},
    %{logdir, "test/ct/logs"},
    %{ct_hooks, [cth_surefire]},
    {spec, "test/ct/src/ct.test.spec"}
]}.

