%
% vi:ft=erlang
%

{deps, [
]}.

{shell, [
    %{config, "config/sys.config"},
    {apps, [ph]}
]}.

{erl_opts, [debug_info]}.

{ct_opts, [
    {dir, "test/ct/src"}
]}.

{eunit_tests, []}.

{eunit_opts, [
    {dir, "src"}
]}.

{profiles, [
    {test, [
        {erl_opts, [debug_info]},
        {extra_src_dirs, [
            {"test/eunit/src", []},
            {"test/ct/src", []}
        ]}
    ]}
]}.

